SD-Client/.classpath
SD-Client/.project
SD-Client/.settings/
SD-Client/bin/
SD-Client/jar/*
SD-Controller/.classpath
SD-Controller/.project
SD-Controller/.settings/
SD-Controller/bin/
SD-Controller/jar/*
SD-Interfaces/.classpath
SD-Interfaces/.project
SD-Interfaces/.settings/
SD-Interfaces/bin/
SD-Interfaces/doc/
SD-Interfaces/jar/*
SD-Server/.classpath
SD-Server/.project
SD-Server/.settings/
SD-Server/bin/
SD-Server/jar/*
.classpath
.project
.settings/
*.backup
gitpull.sh
gitpush.sh
